<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @resource.identifier %>
</p>

<p>
  <strong>Identifiertype:</strong>
  <%= @resource.identifierType %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user_id %>
</p>

<p>
  <strong>Local:</strong>
  <%= @resource.local_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
