 <footer class="footer container">
    <hr>
    <div class =".col-xs-4">
      <%= image_tag("cdl_logo.gif", alt: "Responsive image", class: "pull-right") %>
    </div>
    <div class =".col-xs-8">
      <p>STASH is a service of the
      <%= link_to 'University of California Curation Center', 'http://www.cdlib.org/services/uc3', :title => 'University of California Curation Center', :target => '_blank' %>
      of the
      <%= link_to 'California Digital Library', 'http://cdlib.org', :title => 'California Digital Libary', :target => '_blank' %><br/>
      Copyright &copy; 2010-<%=Time.new.year%> The Regents of the University of California</p>
      <nav>
          <%= link_to "About",   '#' %> |
          <%= link_to 'Privacy Policy', '#', :title => 'Privacy Policy' %> |
          <%= link_to 'Accessibility Policy', 'http://www.ucop.edu/electronic-accessibility/initiative/policy.html', :title => 'Accessibility Policy' %> |
          <%= link_to 'Terms of Use', '#', :title => 'Terms of Use' %> |
          <%= link_to 'Contact Us', '#', :title => 'Contact Us' %>
      </nav>
    </div>
</footer>